@*Happy Earth ASP - My cart View; AM & TS*@

@model Cart

@{
    ViewData["Title"] = "My Cart";
}

@if (TempData["Failure"] != null)
{ //alerts user if there has been an issue adding item to the cart
    <div class="alert-danger">TempData["Failure"]</div>
}

<p>
    <a class="btn btn-secondary" asp-action="Search" asp-controller="Shop">Continue Shopping</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            @* Functionality to allow user to edit item quantity is not needed (only 1 of each item available)
                Saving code b/c it could be useful if we added that functionality in the future*@
            @*<th>
                    Quantity
                </th>*@

            @*<th>

                </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems())
        {

            <tr>
                <td>
                    <img src="@item.Product.Photo" height="50" width="50" alt="@item.Product.Name" />
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Shop" asp-route-id="@item.Product.ProductId">@item.Product.Name</a>
                </td>
                <td class="text-right">
                    @item.Product.Price.ToString("c")
                </td>
                @* Functionality to allow user to edit item quantity is not needed (only 1 of each item available)
                    Saving code b/c it could be useful if we added that functionality in the future*@
                <!--<td class="text-right">
                <form asp-action="UpdateCart" asp-controller="Shop" method="post">
                    <input type="hidden" value="@item.Product.ProductId" name="productId" />-->
                @*<input type="number" value="@item.Quantity" name="qty" size="2" required min="1" max="1" />*@
                @*<input type="submit" class="btn btn-sm btn-warning" value="Update Quantity" />*@
                <!--</form>
                </td>-->
                @*<td class="text-right">
                        @((item.Quantity * item.Product.Price).ToString("c"))
                    </td>*@


                <td>
                    <form asp-action="RemoveFromCart" asp-controller="Shop" method="post">
                        <input type="hidden" value="@item.Product.ProductId" name="productId" />
                        <input type="submit" class="btn btn-sm btn-warning" value="Remove Product" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">
                Order Total:
            </td>
            <td>
                @Model.ComputeOrderTotal().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<p>

    @if (@Model.CountCartItems() == 0)
    {  //check that there are items in the cart
        <a class="btn btn-danger" asp-action="Search" asp-controller="Shop">Add Items to Your Cart in Order to Place An Order</a>
    }
    else
    {
        <a class="btn btn-info" asp-action="ConfirmOrder" asp-controller="Restrict">Order Now</a>
    }
</p>

